:root {
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --warm-black2: #282623;
  --grey: #bababa;
  --off-white: #faf8f7;
  --white: #fff;
}
/* estilos globales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}
h3 {
  font-size: 24px;
  line-height: 26px;
  font-weight: bold;
}
h4 {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}
a {
  text-decoration: none;
}
/* Header */

header {
  background: linear-gradient(var(--warm-black), var(--bitcoin-orange));
  color: var(--white);
  position: relative;

  min-width: 320px;
  padding-bottom: 61px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header_logo {
  display: flex;
  justify-content: center;
  padding: 42px 0px 0px 0px;
  color: var(--bitcoin-orange);
}
.header_logo img {
  margin-right: 8px;
}
.header_title {
  font-weight: 700;
  font-size: 24px;
  color: var(--bitcoin-orange);
}
.header__title-container {
  width: 90%;
  max-width: 900px;
  min-width: 288px;
  text-align: center;
}
.header_description {
  font-weight: 500;
  margin: 36px auto 0px;
  width: 100%;
  max-width: 464px;
}
.header_paragraph {
  width: 100%;
  max-width: 382px;
  margin: 24px auto 0;
}
.header_button {
  text-decoration: none;
  color: var(--warm-black);
  font-size: 14px;
  font-weight: 700;
}
.header_button_container {
  height: 48px;
  width: 228px;
  background-color: var(--white);
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border-radius: 4px;
  position: absolute;
  top: calc(100% - 24px);
  left: calc(50% - 109px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

/* Exchange section */

.exchange_section {
  text-align: center;
  background-color: var(--off-white);
  position: relative;
}
.exchange_section img {
  margin: 59px auto 40px;
}
.exchange__text-container {
  width: 90%;
  max-width: 466px;
  margin: 0 auto;
}
.exchange__text-container > h3 {
  color: var(--warm-black);
  margin-bottom: 24px;
}
.exchange__text-container > h4 {
  color: var(--grey);
}
.exchange__carousel {
  margin: 48px auto 0;
  width: 60%;
  overflow: hidden;
}
.exchange__carousel-container {
  display: flex;
}

.exchange__carousel-item {
  max-width: 320px;
  text-align: left;
  flex: 0 0 100%;
}

.exchange__carousel-title {
  color: #ff9536;
  font-size: 18px;
  line-height: 23.4px;
  margin-bottom: 12px;
  padding-left: 12px;
}
.exchange__carousel table {
  width: 100%;
  margin: 0;
  border-radius: 15px;
  overflow: hidden;
}

.exchange__carousel table tr {
  width: 100%;
}
.exchange__carousel table td {
  background-color: var(--white);
  width: 96px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  padding: 10px 12px;
  margin: 1px;
}
.table-left {
  font-size: 16px;
  font-weight: 500;
  color: var(--grey);
}
.table-right {
  font-size: 14px;
  font-weight: 400;
  color: #757575;
}
.trending-icon {
  display: inline-block;
  width: 12px;
  height: 7px;
  margin-left: 7px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.trending-up {
  background-image: url("../assets/trending-up.svg");
}
.trending-down {
  background-image: url("../assets/trending-down.svg ");
}

.update-message {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  line-height: 14.52px;
  text-align: center;
  color: var(--warm-black);
  background-color: var(--soft-orange);
  width: 90%;
  padding: 8px;
  margin: 16px auto 64px;
  border-radius: 8px;
}
.secondary-carousel h3 {
  color: var(--secondary-blue);
}
.secondary-carousel .update-message {
  background-color: var(--soft-blue);
}

.exchange_section .carousel-control {
  position: absolute;
  top: 68%;
}
.arrow-rigth {
  right: 31px;
}
.arrow-left {
  left: 31px;
}
/*Characteristics section*/

.characteristics_section {
  position: relative;
  padding: 64px 0 47px;
  background-color: var(--warm-black);
  text-align: center;
}
.characteristics_section > img {
  position: absolute;
  top: -15px;
  right: calc(50% - 20.5px);
}
.characteristics__title {
  color: var(--white);
}
.characteristics__subtitle {
  margin: 24px auto;
}
.characteristics__subtitle,
.characteristics__card h4 {
  color: #808080;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
}
.characteristics__card {
  background-color: var(--warm-black2);
  margin: 8px 5%;
  padding: 16px;
  text-align: left;
}
.card-logo {
  margin: 2px;
}
.card-title {
  color: var(--white);
  line-height: 18px;
  font-size: 18px;
  font-weight: 500;
  margin: 10px 0;
}

/* Hero section */
.hero_section {
  overflow: hidden;
  text-align: center;
}
.hero-container {
  background-image: url("../assets/bitcoinbaby.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 387px;
}
.hero-title {
  color: var(--white);
  position: absolute;
  left: calc(50% - 80px);
  margin-top: 64px;
}

/* planes section */
.planes_section {
  position: relative;
  background-color: var(--off-white);
  text-align: center;
  overflow: hidden;
  padding: 64px 0;
}
.planes__title {
  color: var(--warm-black);
  width: 90%;
  max-width: 466px;
  margin: 0 auto;
}
.planes__subtitle {
  color: #757575;
  width: 90%;
  max-width: 466px;
  margin: 24px auto 0;
}
.planes__slider {
  display: flex;
  margin-top: 50px;
  transform: translateX(-136px);
  transition: all 0.4s ease-in-out;
}
.planes_section > span {
  display: inline-block;
  position: absolute;
  top: 360px;
  z-index: 10;
  height: 12px;
  width: 8px;
  background-size: cover;
}
.slider__arrow-left {
  background-image: url("../assets/arrow-left-gray.svg");
  left: 32px;
}
.slider__arrow-right {
  background-image: url("../assets/arrow-right-gray.svg");
  right: 32px;
}
.slider-card {
  position: relative;
  flex: 0 0 190px;
  height: 247px;
  padding: 24px 16px;
  text-align: center;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  background-color: #fff;
  border-radius: 8px;
  margin: 0 4px;
}
.slider-card__price {
  display: flex;
  margin-top: 8px;
  justify-content: center;
  font-family: "Inter", sans-serif;
  font-size: 52px;
  color: black;
  font-weight: 700;
}
.slider-card__price span,
.slider-card__description {
  font-size: 12px;
  font-weight: 500;
  line-height: 14.52px;
}
.slider-card__price span {
  color: #363636;
  padding-top: 8px;
}
.slider-card__description {
  color: #757575;
  margin: 16px 0;
}
.slider-card__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 151px;
  height: 48px;
  border: 2px solid #f7931a;
  border-radius: 4px;
  background-color: var(--off-white);
  color: var(--warm-black);
  margin: 0 auto;
}
.slider-card__button h4 {
  font-weight: 700;
}
.slider-card__button span {
  background-image: url("../assets/arrow-right-big.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  margin-left: 8px;
}
.recommended::before {
  content: "Recomendado";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -14px;
  left: calc(50% - 50px);
  height: 31px;
  width: 101px;
  border-radius: 8px;
  background-color: var(--bitcoin-orange);
  font-size: 12px;
  font-weight: 500;
  color: var(--white);
}
.slider-card:not(.selected)::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 190px;
  height: 247px;
  z-index: 3;
  background-color: var(--white);
  opacity: 0.4;
}

/* preguntas section */
.preguntas {
  background-color: var(--off-white);
  padding-bottom: 64px;
}
.preguntas__text-container {
  max-width: 466px;
  margin: 0 auto;
}
.pregunta-container,
.preguntas__title {
  width: 90%;
  margin: 0 auto 15px;
}
.preguntas__title {
  text-align: center;
  margin-bottom: 32px;
}
.pregunta {
  display: flex;
  justify-content: space-between;
}
.pregunta h4 {
  width: 83%;
  color: var(--warm-black);
}
.respuesta {
  display: none;
  width: 83%;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #757575;
  text-align: justify;
  margin: 24px 0;
  transition: all 0.4s ease;
}
.pregunta__buttons {
  margin-right: 19px;
}
.arrow-up,
.arrow-down {
  display: none;
  background-size: cover;
  width: 12px;
  height: 8px;
}
.arrow-up {
  background-image: url("../assets/arrow-up.svg");
  margin-top: 5px;
}
.arrow-down {
  background-image: url("../assets/arrow_down.svg");
  margin-top: 8px;
}
.arrow-active {
  display: block;
}
.respuesta-active {
  display: block;
}
/* footer section */
footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--bitcoin-orange);
  height: 150px;
}
.footer__media-container {
  display: flex;
  flex-direction: column;
}
.footer__media-container a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  color: var(--white);
  margin-top: 8px;
}
.footer__logo-container {
  text-align: center;
}
.footer__logo-container h5 {
  font-size: 8px;
  font-weight: 500;
  margin-top: 8px;
  color: var(--white);
}

/* MEDIA QUERIES */

/* @media screen and (min-width: 375px) {
}
@media screen and (min-width: 414px) {
}
@media screen and (min-width: 834px) {
} */

/* el scroll horizontal arrastrando, sin las flechas, se logra con:
  contenedor {
    overflow-x: scroll; 
    overscroll-behaviour-x: contain;
    scroll-snap-type: x proximity;
  }
  el x antes del proximity, es el eje sobre el cual se aplica
  items {
    scroll-snap-align: center;
  }

*/
